body{
    font-family: Verdana;
    text-align: center; 
}
#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#buttoncontainer{
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover{
    background-color: darkblue;
}

#myRandom{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}

.myLabels{
    font-size: 3em;
}

#mySubmit{
    font-size: 1em;
}