body{
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 150px;
    margin: 0 10px;
    border-radius: 300px;
    background-color: hsl(200, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s;
}

.choices button img{
    max-height: 80px;
}

.choices button:hover{
    background-color: hsl(200, 100%, 60%);
}

.choices button:active{
    background-color: hsl(200, 100%, 40%);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    display: inline-block;
    min-height: 100px;
    font-size: 5rem;
    margin: 30px 0; 
}

.scoreDisplay{
    font-size: 2rem;
}

.greenText, #playerScore{
    color: hsl(130, 84%, 54%);
}

.redText, #computerScore{
    color: hsl(0, 84%, 60%);
}

#resetBtn{
    margin-top: 30px;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: hsl(64, 93%, 57%);
    color: hsl(253, 73%, 47%);
    cursor: pointer;
    transition: background-color 0.5s;
}

#resetBtn:hover{
    background-color: hsl(64, 93%, 67%);
}

#resetBtn:active{
    background-color: hsl(64, 93%, 47%);
}